.navbar.navbar-bottom.custom-footer
  .jumbotron.bottom
    .container
      .row
        .col-md-12
          %p.text-center 
            %small Skyttegade 7, 2200 København N &nbsp;&nbsp;&nbsp; - &nbsp;&nbsp;&nbsp;  tlf. 23 27 88 77 &nbsp;&nbsp;&nbsp;  - &nbsp;&nbsp;&nbsp;  info@tinkuy.dk           