%ul.list-unstyled
  - @events.each do |event|
    - if event.startdate.wday == week_day && event.week_number == session[:week_number]
      %li
        %strong= event.starttime.strftime("%H:%M")
        %a{"data-remote" => "#{event_path(event)} #event-show-stuff", "data-target" => "#ShowEvent", "data-toggle" => "modal"}
          = event.name