%ul.list-unstyled
  - @events.each do |event|
    - if event.startdate.wday == week_day && event.week_number == session[:week_number]
      %li
        %strong= event.starttime.strftime("%H:%M")
        = link_to event.name, event