= render :partial => "events_header"

.container
  .row
    .col-md-6
      %h2 Foreslå ny aktivitet

      = render 'form'
      = link_to 'Tilbage', :back
    .col-md-6
      %h2 Husk
      .well
        %h4 Når du ”foreslår ny aktivitet” beder vi dig huske: 
        %hr
        %ul
          %li Under ”Navn på aktiviteter” kan du efter ”titlen” skrive hvis den afholdes udenfor workshoprummet fx i loungen. Så kan andre workshopholdere nemt se at workshoprummet er ledigt. 
          %li Husk at notere varighed på aktiviteten under ”Varighed (minutter)”
          %li I beskrivelsen af din aktivitet under ”Beskrivelse” kan du udover beskrivelse skrive kontaktoplysninger til dig og hvad du ønsker i forhold til tilmelding/afmelding. Du kan med fordel indsætte link til facebook-event, hvis du opretter sådan et. 
          %li Er du i tvivl om noget, så skriv på info@tinkuy.dk eller spørg en af os, der har været i Tinkuy længe.
