.jumbotron.page
  .container
    .row
      .col-md-12
        %h1.page
          Praktisk
          
.container
  .row
    .col-md-8
      %h3 Adresse
      %p Skyttegade 3, 2200 København N
      %hr/
      %h3 Konto
      %p  
        Reg. 
        %strong 9860 
        konto 
        %strong 8730066121
      %hr/
    .col-md-4

      .well.well-small
        %h4
          Kontakt
        %hr/
        %table
          %tr
            %td Center: 
            %td= link_to "info@tinkuy.dk", 'mailto:info@tinkuy.dk'
          %tr
            %td Web:
            %td= link_to "web@tinkuy.dk", 'mailto:web@tinkuy.dk'
          %tr 
            %td Udlejning
            %td= link_to  "lej@tinkuy.dk", 'mailto:lej@tinkuy.dk'
          %tr
            %td Telefon:
            %td 22 24 05 42  
              

      //%hr/
      //= link_to "Se", suggestions_path, :class => "btn btn-primary"
