.well
  %h4 Book et rum
  %hr/
  %p Brug dine frugter til at booke et rum
  %p
    Ethvert frit rum kan sikres med
    %span.badge 5
    frugter inden for de nærmeste 7 dage
  %p
    Herudover kan ethvert rum sikres med 
    %span.badge 50
    frugter
  %hr/
  
  %h4 Hvordan booker du?
  %hr/
  %p Klik på feltet/tiden du gerne vil booke (i rummets kalender til venstre).
  %p Sæt dernæst frugter på.
  %p Se nedenfor hvordan du kan se om tiden kan bookes

  .well.well-sm.well-timeslot.well-explain
    %p 
      Fri 
      %br/
      %em kan bookes
  .well.well-sm.well-timeslot.well-active.well-explain
    %p 
      Lagt billet ind med
      %span.badge x
      frugter. 
      %br/ 
      %em Du kan byde over
  .well.well-sm.well-timeslot.well-booked.well-explain
    %p 
      Taget
      %br/
      %em 
        kan 
        %strong ikke
        bookes
