.jumbotron.page
  .container
    .row
      .col-md-12
        %h1.page
          Book rum

.container
  .row
    .col-md-8
      %h3.header
        Du kan booke de følgende 
        = @rooms.length
        rum
      %hr/
      - for room in @rooms 
        = link_to room do
          .well.well-resource
            %h4= room.name
            %p= room.description

    .col-md-4
      %h4 Hvordan booker du et rum?
      %p Du kan bruge dine frugter til at booke et rum
      .well.well-sm.well-timeslot.well-explain
        %p Ledigt
      .well.well-sm.well-timeslot.well-active.well-explain
        %p 
          Lagt billet ind med
          %span.badge x
          fruger. Du kan byde over
      .well.well-sm.well-timeslot.well-booked.well-explain
        %p Taget
