.row
  .col-md-12
    - if current_user.present? and current_user.is_bank_member
      .alert.alert-success
        Du er i øjeblikket 108 kroners medlem via bankoverførsel. Du kan sætte en 
        %strong ny betalingsform 
        op her
    = render :partial => 'plans', :locals => {:plans => @plans[0..3]}
    
    -# #accordion.panel-group{:role => "tablist"}
    -#   .panel.panel-default
    -#     #headingOne.panel-heading{:role => "tab"}
    -#       %h4.panel-title
    -#         %a{"aria-controls" => "collapseOne", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseOne", :role => "button"}
    -#           Professionelle medlemskaber
    -#     #collapseOne.panel-collapse.collapse.out{"aria-labelledby" => "headingOne", :role => "tabpanel"}
    -#       .panel-body
    -#         = render :partial => 'plans', :locals => {:plans => @plans[4..5]}