.jumbotron.page
  .container
    .row
      .col-md-12
        - if current_user.present? and current_user.is_bank_member
          %h1.page
            Medlemsskab
        - else
          %h1.page
            Bliv medlem
        %p.white
          Vælg det medlemsskab som passer dig bedst

.container
  .row
    .col-md-12
      = render 'pricing_table'
