.jumbotron.page
  .container
    .row
      .col-md-12
        %h1.page
          Din bruger er registreret
        %p.white
          Venligst angiv betalingsinfo
  
.container
  .row
    .col-md-12
      %h3.header
        = @plan.name
        medlemsskab
        .lead
          Kr. 
          = @plan.price.to_i
          pr. måned
    .col-md-6
      .well.well-sm
        = render 'card', title: (Koudoku.free_trial? ? "Start prøvemedlemsskab" : "Betalingsinfo"), url: owner_subscriptions_path(@owner)
    .col-md-6
      %h4
        Sikker betaling
      %p
        Din betaling bliver gennemført sikkert med
        = link_to "Stripe", "http://www.stripe.com/dk", :target => "_blank"
      %p
        Vi gemmer ikke dine kortoplysninger
      %p
        %a{:href => "https://www.expeditedssl.com/simple-ssl-scanner/scan?target_domain=www.tinkuy.dk", :rel => "nofollow", :target => "_blank"}
          %img{:alt => "Expedited SSL Scanner", :src => "https://www.expeditedssl.com/ssl-secure-badge.png"}/

