.jumbotron.page
  .container
    .row
      .col-md-12
        %h1.page
          Din bruger er registreret
        %p.white
          Venligst angiv betalingsinfo
  
.container
  .row
    .col-md-12
      %h3.header
        = @plan.name
        medlemsskab
        .lead
          Kr. 
          = @plan.price.to_i
          pr. måned
    .col-md-6
      .well.well-sm
        = render 'card', title: (Koudoku.free_trial? ? "Start prøvemedlemsskab" : "Betalingsinfo"), url: owner_subscriptions_path(@owner)
    .col-md-6
      %h4
        Betalingen
      %p
        Din betaling bliver sikkert gennemført med
        = link_to "Stripe", "http://www.stripe.com/dk", :target => "_blank"
      %p
        Vi gemmer ikke dine kortoplysninger
