strong.weekday
  padding: 10px 0 8px
  display: block

.well-timeslot
  height: 58px
  border: none
  margin-bottom: 2px
  color: black
  a
    color: black
  p
    margin: 0
    padding: 0
    line-height: 20px

.well-active
  background: lighten(#A57D87, 20)

.well-booked
  background: #A57D87

.well-explain
  height: auto

a
  text-decoration: none
  .well-timeslot:hover
    box-shadow: 0 0 3px green
    background: white
    cursor: pointer
    text-decoration: none

  