%p
  Velkommen til Tinkuy
%p
	Du har registreret dig med email: #{@email}!
%p Du kan bekræfte din konto ved at klikke på det følgende link:
%p= link_to 'bekræft min konto', confirmation_url(@resource, confirmation_token: @token)
