%p
  Hejsa #{@resource.email}!
%p Der er en som har bedt om et link til at lave et ny password. Hvis det er dig kan du følge dete link:
%p= link_to 'Lav nyt password', edit_password_url(@resource, reset_password_token: @token)
%p Hvis du ikke har bedt om det, kan du bare ignorere denne email.
%p Dit password bliver ikke ændret før du følger linket og laver et nyt.
