%p
  Hejsa #{@resource.email}!
%p
  Din konto er blevet låst på grund af for mange fejlagtige forsøg på at logge ind. 
%p Klik på det følgende link for at låse din konto op igen:
%p= link_to 'Lås min konto op', unlock_url(@resource, unlock_token: @token)
